
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1491408965617'); /* IE9*/
  src: url('iconfont.eot?t=1491408965617#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1491408965617') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1491408965617') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1491408965617#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:20px;
  color:white;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibiaoti1:before { content: "\e68b"; }

.icon-iconmianyunfei:before { content: "\e60c"; }

.icon-zhengpin:before { content: "\e6aa"; }

.icon-tag:before { content: "\e600"; }

.icon-planetearth:before { content: "\e601"; }

.icon-usherplus:before { content: "\e602"; }

.icon-hearts:before { content: "\e603"; }

.icon-phone:before { content: "\e604"; }

.icon-loveface:before { content: "\e605"; }

.icon-blindface:before { content: "\e606"; }

.icon-angryface:before { content: "\e607"; }

.icon-smileface:before { content: "\e608"; }

.icon-smileface1:before { content: "\e609"; }

.icon-lovefave:before { content: "\e60a"; }

.icon-silentface:before { content: "\e60b"; }

