<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的订单</title>
		<link rel="stylesheet" type="text/css" href="css/public.css" />
		<link rel="stylesheet" type="text/css" href="css/dingdan.css" />
		<link rel="stylesheet" type="text/css" href="iconfont/iconfont.css" />
	</head>
	<body>
		<!--头部区域块-->
		<div class="zhead">
			<!--1.1导航-->
			<div class="zhead-info">
				<div class="zhead-info-box" id="dingbu">
					<!--zhead左边区域-->
					<div class="arealeft">
						<a><i>送货到</i><em class="area1">北京</em><b></b></a>
						<div class="areaSell">
	                		<ul>
	                			<li><a href="#">湖南</a></li>
	                			<li><a href="#">湖北</a></li> 
	                			<li><a href="#">河南</a></li> 
	                			<li><a href="#">江西</a></li> 
	                			<li><a href="#">四川</a></li>
	                			<li><a href="#">贵州</a></li> 
	                			<li><a href="#">云南</a></li> 
	                			<li><a href="#">重庆</a></li> 
	                			<li><a href="#">西藏</a></li> 
	                			<li><a href="#">广东</a></li> 
	                			<li><a href="#">广西</a></li> 
	                			<li><a href="#">海南</a></li> 
	                			<li><a href="#">北京</a></li> 
	                			<li><a href="#">河北</a></li> 
	                			<li><a href="#">内蒙古</a></li> 
	                			<li><a href="#">山西</a></li>
	                			<li><a href="#">天津</a></li>
	                			<li><a href="#">江苏</a></li>
	                			<li><a href="#">山东</a></li>
	                			<li><a href="#">上海</a></li>
	                			<li><a href="#">福建</a></li>
	                			<li><a href="#">浙江</a></li>
	                			<li><a href="#">安徽</a></li>
	                			<li><a href="#">辽宁</a></li>
	                			<li><a href="#">黑龙江</a></li>
	                			<li><a href="#">吉林</a></li>
	                			<li><a href="#">陕西</a></li>
	                			<li><a href="#">新疆</a></li>
	                			<li><a href="#">甘肃</a></li>
	                			<li><a href="#">宁夏</a></li>
	                			<li><a href="#">青海</a></li>
	                		</ul>
	        			</div>
					</div>
					<!--zhead右边区域-->
					<div class="arearight">
						<div class="r1">
							<p>欢迎来到曾品，请</p>
							<!--登录链接-->
							<a class="login" href="login.html">登录</a>
							<i>&nbsp;|&nbsp;</i>
							<!--注册链接-->
							<a class="regist" href="regist.html">免费注册</a>
						</div>
						<div class="uinfo" style="display: none;width:184px;float: left;">欢迎您：</div>
						<a  class="uhshanchu" href="javascript:void(0);" style="display: none;">退出</a>
						<div class="r2">
							<!--我的订单-->
							<p><a href="dingdan.html">我的订单</a><b></b></p>
							<div>
								<a href="#">我的钱包</a>
								<a href="#">我的礼券</a>
							</div>
						</div>

						<div class="r3">
							<p><a href="#">快速导航</a></p>
						</div>
						<div class="r4">
							<p><a href="#">收藏曾品</a></p>
						</div>
						<div class="r5">
							<p><a href="#">手机曾品</a></p>
						</div>
		
					</div>
				</div>
			</div>
			<!--头部主要区域-->
			<div class="zhead-main">
				<div class="zhead-mainbox">
					<div class="zhead-mains">
						<h1><a href="index.html"><img src="imgs/logo.jpg"/></a></h1>
						<!--需要用到javascript，暂不做处理-->
						<div class="search-input">
							<input type="text" id="search" placeholder="搜商品" />
							<strong id="search-submit">搜索</strong>
							<p>热门：
								<a href="shangpinxinxi.html">防晒隔离</a>
								<a href="">护肤套装</a>
								<a href="">面膜</a>
								<a href="">口红</a>
								<a href="">洁面</a>
							</p>
						</div>
						<!--需要用到javascript，暂不做处理-->
						<div class="shopping">
							<div class="shopping-btn"><strong></strong></div>
						</div>
					</div>
				</div>		
				
				<div class="zhead-mainx">
					<div class="main-nav">
						<div class="nav1">
							<a href="">商品分类</a>
							<b></b>
						</div>
						<div class="nav2">
							<a href="">首页</a>
							<a href="">曾品国际</a>
						</div>
						<div class="nav3">
							<a class="iconfont icon-iconmianyunfei" href="zhengping.html"></a>
							<a class="iconfont icon-zhengpin" href="zhengping.html"></a>
							<a class="iconfont icon-weibiaoti1" href="zhengping.html"></a>
						</div>
					</div>
				</div>
			</div>
			<!--下拉菜单-->
			<div class="fl-main" style="display: none;">
	   		 	<div class="float-list">
					<dl class="webf0">
	    				<dt>
	        				<strong class="class-1"><img src="imgs/fh1.png" />护肤用品</strong>
	    					<p>
	                            <a href="" target="_blank">面膜</a>
	                            <a href="" target="_blank">防晒隔离</a>
	                            <a href="" target="_blank">护肤套装</a>
	                            <a href="" target="_blank">洁面</a>
								<a href="" target="_blank">面部护肤 </a>
	                            <a href="" target="_blank">眼部护理 </a>
	               			</p>
	    				</dt>   					
	    				
	    				<dd>
	                    	<ul>
	                        	<li>
	                				<strong><a href="" target="_blank">面膜 ></a></strong>
	                                <div class="float-list-cont">
		                                <a href="" target="_blank">面贴膜</a>
		                                <a href="" target="_blank">免洗面膜</a>
		                                <a href="" target="_blank">眼膜</a>
		                                <a href="" target="_blank">泥膜</a>
		                                <a href="" target="_blank">泡泡面膜</a>
		                                <a href="" target="_blank">鼻膜鼻贴</a>
	                                </div>
	                        	</li>
	                            
	                            <li>
		                			<strong><a href="" target="_blank">护肤套装 ></a></strong>
		                            <div class="float-list-cont"><a href="" target="_blank">护肤套装</a></div>
		                        </li>
	                            
	                            <li><strong><a href="" target="_blank"> 面部护肤 ></a></strong>
	                                <div class="float-list-cont">
	                                    <a href="" target="_blank">面霜</a>
	                                    <a href="" target="_blank">乳液</a>
	                                    <a href="" target="_blank">爽肤水</a>
	                                    <a href="" target="_blank">精华</a>
	                                    <a href="" target="_blank">喷雾</a>
	                                </div>
	                        	</li>
	            			</ul>                  		
	                		<ul>
	                            <li>
	                            	<strong><a href="" target="_blank">防晒隔离 ></a></strong>
	                                <div class="float-list-cont">
	                                    <a href="" target="_blank">防晒乳</a>
	                                    <a href="" target="_blank">防晒喷雾</a>
	                                    <a href="" target="_blank">隔离乳 </a>
	                                </div>
	                            </li>
	                        	
	                        	<li>
	                				<strong><a href="" target="_blank"> 洁面 ></a></strong>
	                                <div class="float-list-cont">
	                                    <a href="" target="_blank">洁面乳</a>
	                                    <a href="" target="_blank">洁面膏</a>
	                                    <a href="" target="_blank">洁面皂</a>
	                                </div>
	                        	</li>
	                        	
	                        	<li><strong><a href="" target="_blank">眼部护理 ></a></strong>
	                                <div class="float-list-cont">
	                                    <a href="" target="_blank">眼霜</a>
	                                    <a href="" target="_blank">眼膜</a>
	                                    <a href="" target="_blank">眼部精华</a>
	                                    <a href="" target="_blank">眼部护理套装</a>
	                                </div>
	                        	</li>
	            			</ul>
	                    </dd>
					</dl>
					<dl class="webf1">
	    				<dt>
	    					<strong class="class-1"><img src="imgs/fh2.png" />彩妆用品</strong>
							<p>
	                            <a href="" target="_blank">底妆</a>
	                            <a href="" target="_blank">眼妆</a>
	                            <a href="" target="_blank">唇妆</a>
	                            <a href="" target="_blank">卸妆</a>
								<a href="" target="_blank">美甲 </a>
	                            <a href="" target="_blank">彩妆套装 </a>
	           				</p>
	    				</dt>
						
	    				<dd>
	                    	<ul>
	                        	<li>
	                				<strong><a href="" target="_blank">底妆 ></a></strong>
	                                <div class="float-list-cont">
		                                <a href="" target="_blank">BB霜</a>
		                                <a href="" target="_blank">CC霜</a>
		                                <a href="" target="_blank">粉底液</a>
		                                <a href="" target="_blank">粉饼</a>
		                                <a href="" target="_blank">腮红</a>
		                                <a href="" target="_blank">蜜粉散粉</a>
		                                <a href="" target="_blank">妆前乳</a>
	                                </div>
	                        	</li>
	                            
	                            <li>
		                			<strong><a href="" target="_blank">眼妆 ></a></strong>
		                            <div class="float-list-cont">
		                            	<a href="" target="_blank">眼毛膏</a>
		                            	<a href="" target="_blank">眼线笔</a>
		                            	<a href="" target="_blank">眼线液</a>
		                            	<a href="" target="_blank">眼影</a>
		                            </div>
		                        </li>
	                            
	                            <li><strong><a href="" target="_blank"> 唇妆 ></a></strong>
	                                <div class="float-list-cont">
	                                    <a href="" target="_blank">唇彩</a>
	                                    <a href="" target="_blank">唇蜜</a>
	                                    <a href="" target="_blank">口红</a>	                                    
	                                </div>
	                        	</li>
	            			</ul>
	                    		
	                		<ul>
	                            <li>
	                            	<strong><a href="" target="_blank">卸妆 ></a></strong>
	                                <div class="float-list-cont">
	                                    <a href="" target="_blank">卸妆水</a>
	                                    <a href="" target="_blank">卸妆油</a>
	                                    <a href="" target="_blank">卸妆乳 </a>
	                                    <a href="" target="_blank">眼唇卸妆 </a>
	                                </div>
	                            </li>
	                        	
	                        	<li>
	                				<strong><a href="" target="_blank"> 美甲 ></a></strong>
	                                <div class="float-list-cont">
	                                    <a href="" target="_blank">指甲油</a>
	                                    <a href="" target="_blank">卸甲油</a>
	                                    <a href="" target="_blank">指甲护理</a>
	                                </div>
	                        	</li>
	                        	
	                        	<li><strong><a href="" target="_blank">彩妆套装 ></a></strong>
	                                <div class="float-list-cont">
	                                    <a href="" target="_blank">彩妆套装</a>
	                                </div>
	                        	</li>
	            			</ul>
	                    </dd>
					</dl>
					<dl class="webf2">
	    				<dt>
	    					<strong class="class-1"><img src="imgs/fh3.png" />美容工具</strong>
							<p>
	                            <a href="" target="_blank">美容工具</a>
	                            <a href="" target="_blank">美妆工具</a>
	                            <a href="" target="_blank">美发工具</a>
	                            <a href="" target="_blank">美甲工具</a>
								<a href="" target="_blank">洁面工具</a>
	                            <a href="" target="_blank">化妆工具</a>
	           				 </p>
	    				</dt>
						
	    				<dd>
	                    	<ul>
	                        	<li>
	                				<strong><a href="" target="_blank">美容工具></a></strong>
	                                <div class="float-list-cont">
		                                <a href="" target="_blank">美容工具</a>
	                                </div>
	                        	</li>
	                            
	                            <li>
		                			<strong><a href="" target="_blank">美妆工具 ></a></strong>
		                            <div class="float-list-cont"><a href="" target="_blank">美妆工具</a></div>
		                        </li>
	                            
	                            <li><strong><a href="" target="_blank"> 美发工具 ></a></strong>
	                                <div class="float-list-cont">
	                                    <a href="" target="_blank">美发梳</a>
	                                </div>
	                        	</li>
	            			</ul>
	                    		
	                		<ul>
	                            <li>
	                            	<strong><a href="" target="_blank">美甲工具 ></a></strong>
	                                <div class="float-list-cont">
	                                    <a href="" target="_blank">美甲工具</a>
	                                </div>
	                            </li>
	                        	
	                        	<li>
	                				<strong><a href="" target="_blank"> 洁面工具 ></a></strong>
	                                <div class="float-list-cont">
	                                    <a href="" target="_blank">洁面工具</a>
	                                </div>
	                        	</li>
	                        	
	                        	<li><strong><a href="" target="_blank">化妆工具 ></a></strong>
	                                <div class="float-list-cont">
	                                    <a href="" target="_blank">化妆工具</a>
	                                </div>
	                        	</li>
	            			</ul>
	                    </dd>
					</dl>
		            <a class="fa" target="_blank" href="">查看全部分类 &gt;&gt;</a>
	       		</div>	
			</div>
		</div>
		<!--头部区域end-->
		
		<!--订单区域-->
		<div class="maindd">
			<div class="dd">
				<!--左侧菜单栏-->
				<div class="ddside_bar">
					<dl>
    					<dt>我的交易</dt>
						<dd><a id="myOrder" href="javascript:void(0);">我的订单</a></dd>
  					</dl>
  					<div class="dividing-line"></div>
  					<dl>
						<dt>我的资产</dt>
	 					<dd><a id="myWallet" href="javascript:void(0);" mars_sead="lpc_hy_qb">我的钱包</a>
	 						<a id="myCouponCard" href="javascript:void(0);" mars_sead="lpc_hy_quan">我的礼券</a>
	 						<a href="javascript:void(0);">我的花粉</a>
	 					</dd>
   					</dl>
   					<div class="dividing-line"></div>
   					<dl>
	 					<dt>我的账户</dt>
	  					<dd><a id="secretSetting" href="javascript:void(0);" mars_sead="lpc_hy_aq">安全设置</a>
	  						<a id="managerAddress" href="javascript:void(0);" mars_sead="lpc_hy_dizhi">地址管理</a>
	  					</dd>
					</dl>
				</div>
				<!--右侧内容-->
				<div class="ddcontent">
					<div class="pn-top-nav">
						<h1 class="clearfix"><span>我的订单</span></h1>
						<div class="pn-top-btnbox">
		               		<a href="javascript:void(0)" id="allOrder" class="on">全部订单</a>
			               	<a href="javascript:void(0)" id="paymentOrder">待付款<i>0</i></a>
			               	<a href="javascript:void(0)" id="verifyOrder">待审核</a>
			               	<a href="javascript:void(0)" id="sendOrder">待发货</a>
			               	<a href="javascript:void(0)" id="sendFinishOrder">已发货</a>
			               	<a href="javascript:void(0)" id="finishOrder">已签收</a>
			               	<a href="javascript:void(0)" id="cancelOrder">已取消</a>
			               	<a href="javascript:void(0)" id="backGoodsOrder">已退货</a>
		              	</div>
		              	<div class="pn-order">
			               	<table>
			                  	<tbody class="pn-orderbody">
			                  	<tr>
				                    <th>订单信息 </th>
				                    <th class="itemwd260">商品</th>
				                    <th class="itemwd70">订单金额</th>
				                    <th class="itemwd50">订单状态</th>
				                    <th class="itemwd90"> 操作</th>
			                  	</tr>
			                  	<script type="text/html" id="product_template">
									<% for(var i = 0; i <products.length; i++) { var p = products[i]; %>
					                  	<tr class="ddxinxi">
					                  		<td>
					                  			<div>收货人：<span><%=p.shouhuoren%></span></div>
					                  		</td>
					                  		<td>
					                  			<div><%=p.proname%></div>
					                  		</td>
					                  		<td>
					                  			<div>¥<span><%=p.heji%></span></div>
					                  		</td>
					                  		<td>
					                  			<div><p>未支付</p><p>等待付款</p></div>
					                  		</td>
					                  		<td>
					                  			<div><p>立即付款</p><p>取消订单</p></div>
					                  		</td>
					                  		
					                  	</tr>
			                  		<% } %>
								</script>
			                  	
			          			</tbody>
			               	</table>  
        				</div>
					</div>
				</div>
			</div>
		</div>
		<!--订单区域结束-->
		
		<!--底部区域-->
		<div class="zfooter">
		<!--服务块-->
			<div class="zfooter-service">
				<div class="service">
					<dl>
						<dt class="iconfont icon-iconmianyunfei"></dt>
						<dd><i>免运费</i><em>满99元包邮</em></dd>
					</dl>
					<dl>
						<dt class="iconfont icon-zhengpin"></dt>
						<dd><i>全正品</i><em>正品发票，假一赔十</em></dd>
					</dl>
					<dl>
						<dt class="iconfont icon-weibiaoti1"></dt>
						<dd><i>最放心</i><em>7天放心退</em></dd>
				</dl>
				</div>
			</div>
			<!--信息块-->
			<div class="zfooter-info">
	
				<div class="info">
					<dt><strong></strong><em>客服 9:00-24:00</em></dt>
					<dd>
						<strong>新手指南</strong>
						<a target="_blank" href="">购物流程</a>
						<a target="_blank" href="">优惠券规则</a>
						<a target="_blank" href="">联系客服</a>
						<a target="_blank" href="">常见问题</a>
					</dd>
					<dd>
						<strong>付款方式</strong>
						<a target="_blank" href="">在线支付</a>
						<a target="_blank" href="">货到付款</a>
						<a target="_blank" href="">钱包支付</a>
					</dd>
					<dd>
						<strong>配送服务</strong>
						<a target="_blank" href="">配送时效及运费</a>
						<a target="_blank" href="">验收与签收</a>
					</dd>	
					<dd>
						<strong>售后服务</strong>
						<a target="_blank" href="">退货政策</a>
						<a target="_blank" href="">退货流程</a>
						<a target="_blank" href="">退货方式及时效</a>
					</dd>	
					<dd class="f-sao1">
						<strong>曾品网微信</strong>
						<b></b>
					</dd>	
				</div>
			</div>
			<!--版权块-->			
			<div class="zfooter-cr">
				<div class="cr">
					<div class="ul">
						<li><a href="">关于曾品</a></li>
						<li><a href="">免责声明</a></li>
						<li><a href="">隐私声明</a></li>
						<li><a href="">版权声明</a></li>
						<li><a href="">招聘信息</a></li>
						<li><a href="">联系我们</a></li>
						<li><a href="">帮助中心</a></li>
						<li><a href="">友情链接</a></li>
					</div>
					<p>Copyright © 2008-2016 Lefeng.com All Rights Reserved. 天津曾品电子商务有限公司 津ICP备15005555号-1  京公网安备11010502014183 营业执照</p>
					<p>公司全称：天津曾品电子商务有限公司     公司固话：400 000 1818     公司地址：天津市武清区京津电子商务产业园宏瑞道18号</p>
					<div class="img">
						<a href=""></a>
						<a href=""></a>
						<a href=""></a>
						<a href=""></a>
						
					</div>
				</div>
			</div>	
		</div>
		<!--底部区域end-->
		

		<script type="text/javascript" src="lib/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="js/template-web.js"></script>
		<script type="text/javascript" src="lib/jquery.cookie.js" ></script>
		<script type="text/javascript">
		
		$(function(){
			/*鼠标经过，显现*/
			$(".nav1").mouseover(function(){
		        $(".fl-main").css({display:"block"});
		        $(".fl-main").mouseleave(function(){
		            $(".fl-main").css({display:"none"});
		        });
		
	   		});	
	   					
			/*送货到*/
			$(".areaSell").on("click","a",function(){
				$(".area1").text($(this).text());
			})
		
	   		
			/*读取用户名*/
			$.cookie.json = true;
			var user=$.cookie("users");
			var html="";	
			if(user){
				$(".r1").empty();
				str="欢迎你："+user[0];
				$(".uinfo").show().text(str);
				$(".uhshanchu").show();

			}
							
			$(".uhshanchu").click(function(){
				$.cookie("users","", {expires:7});
				$(".uinfo").hide();
				$(".uhshanchu").hide();
				$(".r1").show();
				alert("你已经退出");
				location="dingdan.html";
				
			})
			
			/*获取所有的订单信息*/
			$.ajax({
				url:"php/get_alldingdans.php",
				type:"post",
				dataType:"json",
				data:{
					username:user[0]
				},
				success:function(data){
					console.log(data);
					var datas = {
						products : data
					};
					var html = template("product_template", datas);
					$(".pn-orderbody").append(html);			
				}
			});
			
			
		})
		</script>
		
		
	</body>
</html>
